@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

.profile-dropdown {
  margin-left: 10px;
}

.profile-dropdown .dropdown-toggle::after {
  display: none; /* Hide the arrow beside the icon */
}

.profile-icon {
  transition: transform 0.3s ease;
  padding: 5px 10px;
  color: white;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-left: 10px;
}

.profile-icon:hover {
  transform: scale(1.1);
  color: #ffc107; /* Bootstrap warning color (gold/yellow) */
  background-color: rgba(255, 255, 255, 0.1);
}



nav {
    background-color: black;
    height: 100px;


}

.navbar-brand img {
    margin-left: 50px;
    margin-top: 5px;  /* Adjust the margin as needed */
    height: 90px;      /* Set the desired height */
    width: auto;       /* Set width to auto to maintain aspect ratio */
   
}


.navbar-nav{
    margin-left: 300px;
    align-items: center;
    text-align: center;
}
.nav-item{
    color: goldenrod;
    text-align: center;
    padding: 10px;
    font-size: larger;
}


.navfont{
    color: white;
}

.navfont:hover{
    color: goldenrod;
    text-decoration: underline;

}


.navbar-hr {
    border: none;
    height: 2px;
    background-color: orange;
    margin-top: 10; /* Adjust as needed */
}
